<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	<c:if test="#{empty client.login}">
	    <h1>Welcome on EpiMarket!</h1>
        <p>Please enter your username and password.</p>
        <h:form id="mainForm">
        	 <h:messages errorStyle="color:red" />
     		 <h:panelGrid columns="2">
                <h:outputLabel for="login" value="Login : "/>
                <h:inputText id="login" value="#{authenticationForm.login}" required="true"/>
                <h:outputLabel for="password" value="Password : "/>
                <h:inputSecret id="password" value="#{authenticationForm.password}" required="true"/>
                <h:commandButton value="Log in" action="#{authenticationForm.authenticate}"/>        
            </h:panelGrid>
            <c:if test="#{authenticationForm.alreadyTried}">
             	<p class="alert">Error : Bad Username or Password.</p>
             	
             </c:if>
        </h:form>
       	<h:link value="Create a new account" outcome="createmember" />
     </c:if>
</html>
