<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Welcome on EpiMarket</title>
</h:head>
<h:body>
    <h:outputStylesheet name="style.css" library="css"/>
    <div id="container">
		<ui:include src="authenticateform.html">
		</ui:include>
       	<c:if test="#{!empty client.login}">
        	<h1>Welcome on EpiMarket!</h1>
       		<h2><h:link value="Access the shop" outcome="shop"/><br /></h2>
       		<span id="infobox">
    			<h:link value="My Cart" outcome="cart"/><br />
				<h:form>
	 				<h:commandLink value="Log out" action="#{authenticationForm.logout}"/>
				</h:form>
			</span>
      	</c:if>
    </div>
</h:body>
</html>
