<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Epimarket - My cart</title>
</h:head>
<h:body>
	<div id="container">
		<h:outputStylesheet name="style.css" library="css"/>
		<ui:include src="authenticateform.html">
		</ui:include>
       	<c:if test="#{!empty client.login}">
			<h1>Your current cart</h1>
        	<br/><br />
        	<c:choose>
   				<c:when test="${cart.areItemsInCart}">
				    <h:dataTable value="#{cart.orderLines}" var="item" styleClass="dataTable" headerClass="header" rowClasse="odd, even">
						<h:column>
							<f:facet name="header">
								<h:outputText value="Item Name" />
							</f:facet>
							<h:outputText value="#{item.item.name}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Description" />
							</f:facet>
							<h:outputText value="#{item.item.description}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Total Price" />
							</f:facet>
							<h:outputText value="#{item.price} €"/>
						</h:column>
						<h:column>
							<f:facet name="header">
								<h:outputText value="Quantity" />
							</f:facet>
							<h:outputText value="#{item.quantity}"/>
						</h:column>
						<h:column>
							<f:facet name="header">
		                	    Actions
		                	</f:facet>
							<h:form>
								<h:commandButton action="#{cart.delItem}" value="Del from my cart">
									<f:setPropertyActionListener target="#{cart.currentItem}" value="#{item.item}" />
								</h:commandButton>
								<h:commandButton action="#{cart.addItemFromCartPage}" value="Add One more Item">
									<f:setPropertyActionListener target="#{cart.currentItem}" value="#{item.item}" />
								</h:commandButton>	
							</h:form>	
						</h:column>
					</h:dataTable><br /><br />
					<h:outputText value="Command Price: " />
					<h:outputText value="#{cart.totalPrice}">
					  <f:convertNumber locale="en" pattern="#,##0.00;(#,##0.00)" />
					</h:outputText>
					<h:outputText value=" €"/><br /><br />
				</c:when>
 				<c:otherwise>
					<p class="alert">There is no item in your cart.</p>
				</c:otherwise>
			</c:choose>
			 <span id="infobox">
    			<h:link value="Return to the shop" outcome="shop"/><br />
				<h:form>
	 				<h:commandLink value="Log out" action="#{authenticationForm.logout}"/>
				</h:form>
			</span>
		</c:if>
	</div>
</h:body>
</html>