<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Epimarket - New Member</title>
</h:head>
<h:body>
	<h:outputStylesheet name="style.css" library="css"/>
	<div id="container">
		<h1>Welcome on EpiMarket!</h1>
    	    <p>Please enter your credentials.</p>
    	  <h:form id="mainForm">
    	    	 <h:messages errorStyle="color:red" />
     			 <h:panelGrid columns="2">
            	    <h:outputLabel for="login" value="Login : "/>
                	<h:inputText id="login" value="#{createMemberForm.login}" required="true"/>
                	<h:outputLabel for="password" value="Password : "/>
                	<h:inputSecret id="password" value="#{createMemberForm.password}" required="true"/>
                	<h:outputLabel for="firstName" value="FirstName : "/>
             		<h:inputText id="firstName" value="#{createMemberForm.firstName}" required="true"/>
               		<h:outputLabel for="lastName" value="LastName : "/>
                	<h:inputText id="lastName" value="#{createMemberForm.lastName}" required="true"/>
                	<h:outputLabel for="address" value="Address : "/>
                	<h:inputText id="address" value="#{createMemberForm.address}" required="true"/>
                	<h:outputLabel for="zip" value="Zip code : " />
                	<h:inputText id="zip" value="#{createMemberForm.zip}" required="true"/>
                	<h:outputLabel for="city" value="City : "/>
                	<h:inputText id="city" value="#{createMemberForm.city}" required="true"/>
                	<h:outputLabel for="email" value="Email : "/>
                	<h:inputText id="email" value="#{createMemberForm.email}" required="true"/>
                	<h:commandButton value="Create my account" action="#{createMemberForm.validNewMember}"/>        
            	</h:panelGrid>
			<h:outputText class="info" value="#{createMemberForm.alertMsg}" />
			<h:link value="Return to the authentication page" outcome="authenticate"/><br />
        </h:form>
	</div>
</h:body>
</html>