<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Epimarket - Shop</title>
</h:head>
<h:body>
    <h:outputStylesheet name="style.css" library="css"/>
    <div id="container">
    	<ui:include src="authenticateform.html">
		</ui:include>
       	<c:if test="#{!empty client.login}">
       		<h1>Items for Sale</h1>
        	<h:outputText value="Hello #{client.login}! Welcome on the Epimarket website !"/>
        	<br/><br />
		    <h:dataTable value="#{catalog.itemsList}" var="item" styleClass="dataTable" headerClass="header" rowClasse="odd, even">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Item Name" />
					</f:facet>
					<h:outputText value="#{item.name}"/>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Description" />
					</f:facet>
					<h:outputText value="#{item.description}"/>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Price" />
					</f:facet>
					<h:outputText value="#{item.price}  €"/>
				</h:column>
				<h:column>
					<f:facet name="header">
                	    Actions
                	</f:facet>
					<h:form>
						<h:commandButton action="#{cart.addItemFromShopPage}" value="Add to my cart">
							<f:setPropertyActionListener target="#{cart.currentItem}" value="#{item}" />
						</h:commandButton>	
					</h:form>	
				</h:column>
			</h:dataTable>
			<span id="infobox">
    			<h:link value="My Cart" outcome="cart"/><br />
				<h:form>
	 				<h:commandLink value="Log out" action="#{authenticationForm.logout}"/>
				</h:form>
			</span>
		</c:if>
    </div>
</h:body>
</html>
